<h2>Your Favorite Cafes</h2>
<% if @bookmarks.first.present? %>
  <p class="text-center mb-4">Want to go somewhere familiar today?</p>
<% end %>

  <div class="cafe-container mt-4">
      <% @bookmarks.each do |bookmark| %>
      <!-- average review rating -->
      <% ratings = [] %>
      <% bookmark.cafe.reviews.each do |review| %>
      <% ratings << review.rating %>
      <% end %>
      <% avg_rating = (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size) %>
      <!-- average hourly price -->
      <% prices = [] %>
      <% bookmark.cafe.hourly_slots.each do |slot| %>
      <% prices << slot.price_per_hour %>
      <% end %>
      <% avg_price = (prices.inject{ |sum, el| sum + el }.to_f / prices.size) %>

      <div class="card-cafe"
      data-tags="<% bookmark.cafe.cafe_tags.each do |cafetag| %><%=cafetag.tag.name%>,<% end %>"
      data-rating="<%= avg_rating %>" data-price="<%= avg_price %>">

        <div data-bookmarknumber="<%= bookmark.id %>" class="<%= @bookmarks.where(user: @user).map {|bookmark| bookmark.cafe_id }.include?(bookmark.cafe.id) ? "saved" : "unsaved" %> bookmark" data-id="<%= bookmark.cafe.id %>"><i class="<%= @bookmarks.where(user: @user).map {|bookmark| bookmark.cafe_id }.include?(bookmark.cafe.id) ? "fas" : "far" %> fa-bookmark"></i></div>
        <div class="cafe-price">
          $<%= avg_price.round(0) %> per hour
        </div>

        <img src="https://source.unsplash.com/1600x900/?<%= bookmark.cafe.category %>,<%= bookmark.cafe.name %>" />
        <div class="card-cafe-infos">
          <div>
            <h2> <%= link_to bookmark.cafe.name, cafe_path(bookmark.cafe) %></h2>
            <p><%= bookmark.cafe.neighbourhood %></p>
          </div>

          <div>
            <div>
              <% avg_rating.round(0).times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
            <p class="text-right">(<%= pluralize( ratings.length, "reviews" ) %>)</p>
          </div>
        </div>

        <div class="ambience_tags d-flex">
          <% bookmark.cafe.cafe_tags.each do |cafetag| %>
            <% if cafetag.tag.tag_category == "ambience" %>
              <div class="small-tag mr-2"><%= cafetag.tag.name %></div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
