<div class="d-flex flex-column">

  <h3 class="mb-3">Today's Bookings</h3>
  <% if @bookings.filter{|booking| booking.date == Date.today}.empty?  %>
    <div class="no-results mt-3">
      <p>You currently have no bookings for today.</p>
    </div>
  <% else %>
    <% @bookings.each do |booking| %>
      <% cafe = booking.booked_hours.first.hourly_slot.cafe %>

      <% if booking.date >= Date.today %>
        <% if booking.start_time > 12 %>
          <% start_time_string = "#{booking.start_time - 12} pm" %>
        <% elsif booking.start_time < 12 %>
          <% start_time_string = "#{booking.start_time} am" %>
        <% else %>
          <% start_time_string = "#{booking.start_time} pm" %>
        <% end %>
        <% time_end = booking.start_time + booking.duration %>

        <% if time_end > 12 %>
          <% end_time_string = "#{time_end - 12} pm" %>
        <% elsif time_end < 12 %>
          <% end_time_string = "#{time_end} am" %>
        <% else %>
          <% end_time_string = "#{time_end} pm" %>
        <% end %>


          <div class="card-product mb-2">
            <div class="initials d-flex justify-content-center align-items-center">
              <%= initials = booking.user.first_name.capitalize[0] + booking.user.last_name.capitalize[0] %>
            </div>
            <div class="card-product-infos d-flex justify-content-between">
              <div>
                <div>
                  <h2 class="mb-0"><%= booking.user.first_name %> <%= booking.user.last_name %></h2>
                  <p class="mb-0 mt-0"><%= booking.date.strftime("%d %b, %Y") %> | <%= start_time_string %> - <%= end_time_string %></p>
                </div>
                <p class="mb-0 mt-0"><strong><%= link_to cafe.name, cafe_path(cafe) %></strong></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  <% end %>



  <div class="past-bookings">
    <h3 class="mt-4 mb-3">Booking History</h3>
    <% if @bookings.filter{|booking| booking.date < Date.today}.empty?  %>
      <div class="no-results">
        <p>You currently have no past bookings.</p>
      </div>
    <% else %>
      <% @bookings.sort_by {|booking| booking.date }.reverse.each do |booking| %>
        <% cafe = booking.booked_hours.first.hourly_slot.cafe %>
        <% if booking.date < Date.today %>
          <% if booking.start_time > 12 %>
            <% start_time_string = "#{booking.start_time - 12} pm" %>
          <% elsif booking.start_time < 12 %>
            <% start_time_string = "#{booking.start_time} am" %>
          <% else %>
            <% start_time_string = "#{booking.start_time} pm" %>
          <% end %>
          <% time_end = booking.start_time + booking.duration %>

          <% if time_end > 12 %>
            <% end_time_string = "#{time_end - 12} pm" %>
          <% elsif time_end < 12 %>
            <% end_time_string = "#{time_end} am" %>
          <% else %>
            <% end_time_string = "#{time_end} pm" %>
          <% end %>


          <div class="card-product mb-2">
            <div class="initials d-flex justify-content-center align-items-center">
              <%= initials = booking.user.first_name.capitalize[0] + booking.user.last_name.capitalize[0] %>
            </div>
            <div class="card-product-infos d-flex justify-content-between">
              <div>
                <div>
                  <h2 class="mb-0"><%= booking.user.first_name %> <%= booking.user.last_name %></h2>
                  <p class="mb-0 mt-0"><%= booking.date.strftime("%d %b, %Y") %> | <%= start_time_string %> - <%= end_time_string %></p>
                </div>
                <p class="mb-0 mt-0"><strong><%= link_to cafe.name, cafe_path(cafe) %></strong></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
