  <h1 class="mb-4">Hey <%= @user.first_name %>!</h1>

  <h4>Today's Bookings</h4>

  <% @bookings.each do |booking| %>
    <% cafe = booking.booked_hours.first.hourly_slot.cafe %>

    <% if booking.date >= Date.today %>
      <% if booking.start_time > 12 %>
        <% start_time_string = "#{booking.start_time - 12} pm" %>
      <% elsif booking.start_time < 12 %>
        <% start_time_string = "#{booking.start_time} am" %>
      <% else %>
        <% start_time_string = "#{booking.start_time} pm" %>
      <% end %>
      <% time_end = booking.start_time + booking.duration %>

      <% if time_end > 12 %>
        <% end_time_string = "#{time_end - 12} pm" %>
      <% elsif time_end < 12 %>
        <% end_time_string = "#{time_end} am" %>
      <% else %>
        <% end_time_string = "#{time_end} pm" %>
      <% end %>

  <div class="card-cafe mb-2">
    <img src="https://source.unsplash.com/1600x900/?<%= cafe.tags.first.name %>, cafe" alt="Card image cap" />
    <% if ((Time.now.hour >= booking.start_time) && (Time.now.hour < (booking.start_time + booking.duration))) %>
    <div class="cafe-price">
      $<%= booking.x_credits %> credit to spend!
    </div>
    <% end %>
    <div class="card-cafe-infos">
      <div>
        <h2><%= link_to cafe.name, cafe_path(cafe) %></h2>
        <p><%= "#{cafe.address}" %></p>
      </div>

      <% if ((Time.now.hour >= booking.start_time) && (Time.now.hour < (booking.start_time + booking.duration))) %>
        <%= link_to "Check In", cafe_user_booking_path(cafe, booking.user, booking), class: "btn btn-primary review-btn" %>
      <% else %>
      <div>
        <h3 class="card-cafe-pricing text-right"><%= booking.date.strftime("%b %d") %></h3>
        <h3 class="card-cafe-pricing text-right"><%= "#{start_time_string} - #{end_time_string}" %></h3>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% end %>

  <h4 class="mt-4 mb-4">Booking History</h4>

  <% @bookings.each do |booking| %>
    <% cafe = booking.booked_hours.first.hourly_slot.cafe %>
    <% if booking.date < Date.today %>
      <% if booking.start_time > 12 %>
        <% start_time_string = "#{booking.start_time - 12} pm" %>
      <% elsif booking.start_time < 12 %>
        <% start_time_string = "#{booking.start_time} am" %>
      <% else %>
        <% start_time_string = "#{booking.start_time} pm" %>
      <% end %>
      <% time_end = booking.start_time + booking.duration %>

      <% if time_end > 12 %>
        <% end_time_string = "#{time_end - 12} pm" %>
      <% elsif time_end < 12 %>
        <% end_time_string = "#{time_end} am" %>
      <% else %>
        <% end_time_string = "#{time_end} pm" %>
      <% end %>


      <div class="card-product mb-2">
        <img src="https://source.unsplash.com/1600x900/?<%= cafe.tags.first.name %>, cafe" alt="Card image cap" />
        <div class="card-product-infos d-flex justify-content-between">
          <div>
            <h2 class="mb-0"><%= "#{cafe.name}" %></h2>
            <p class="mb-0 mt-0"><%= booking.date.strftime("%b %d") %> | <%= "#{start_time_string} - #{end_time_string}" %></p>
          </div>
          <div>
            <%= link_to "Review", new_user_booking_review_path(booking.user, booking), class: "btn btn-primary review-btn" %>
          </div>
        </div>
      </div>
  <% end %>
  <% end %>
</div>

