<div class="container booking-container"><h1 class="text-center"><%= @cafe.name %> </h1>
<h5 class="mt-4 text-center"><%= Date.today.strftime("%b %d") %></h5>
<h5 class="cafe-price mt-4 text-center hidden"><%= @cafe.hourly_slots.first.price_per_hour %></h5>

<!-- hidden field for current user bookings-->

  <% arr = [] %>
  <% @user_bookings.each do |booking| %>
    <% booking.duration.times do |index| %>
      <% arr << (booking.start_time + index) %>
    <% end %>
  <% end %>
  <div class="time-booked m-0" style="color: rgba(255,255,255,0)"> <%= arr.uniq.sort.join(",") %> </div>

<p id="start-time" class="mb-4 text-center" style="display:block;">Select a start and end time:</p>
<div class="time-slots">
  <% @hourly_slots.each do |time, slot| %>
    <% booked =  HourlySlot.where(cafe:@cafe, start_time: time).first.booked_hours.count  %>

    <% if (Time.now.hour > time.to_i) %>
      <% slot = 0 %>
    <% else %>
      <% slot = slot - booked %>
    <% end %>

    <div class="time-slot <%= time %> <%= "unavailable" if slot.zero? %>" data-time="<%= time %>">
      <p><%= time %>:00 - <%= time.to_i + 1 %>:00</p>
      <p>
        <% if slot <= 0 %>
          <%= "Slots unavailable" %>
        <% else %>
          <%= "Slots available: " + (slot).to_s %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<div class="home-button mt-4">
  <%= link_to "Back to Home", root_path%>
</div>

</div>
</div>
<div>
<% if @show_booking_bar == true %>
  <div class="bottom-navbar justify-content-between p-3">
    <h6 class="align-self-center m-0"><span id="total-price">Total price: <strong><span id="current-price">$0</span></strong></span></h6>
    <form class="d-flex flex-column align-items-center" action="<%= cafe_user_bookings_path(@cafe, @user) %>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input id="booking-data" name="booking"type="hidden">
      <input class="btn btn-primary" type="submit" value="Book Now">
    </form>
  </div>
<% end %>
<%= javascript_pack_tag 'init_booking' %>



