<h1>Booking for <%= @cafe.name %></h1>
<h2><%= Date.today %></h2>
<p id="start-time" style="display:block;">Select a start and end time slot</p>
<div class="time-slots">
  <% @hourly_slots.each do |time, slot| %>
    <div class="time-slot <%= time %> <%= "unavailable" if slot.zero? %>" data-time="<%= time %>">
      <p><%= time %>:00 - <%= time.to_i + 1 %>:00</p>
      <p>
        <% if slot.zero? %>
          <%= "Slots unavailable" %>
        <% else %>
          <%= "Slots available: " + slot.to_s %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
<p id="total-price">Total price: $0</p>
<form action="<%= cafe_user_bookings_path(@cafe, @user) %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input id="booking-data" name="booking"type="hidden">
  <input type="submit">
</form>

