<h4 class="mb-0">Welcome to</h4>
<h2 class="mt-0"><%= @cafe.name %>!</h2>

<div class="booking-info-card">
  <% if @booking.start_time > 12 %>
    <% start_time_string = "#{@booking.start_time - 12} pm" %>
  <% elsif @booking.start_time < 12 %>
    <% start_time_string = "#{@booking.start_time} am" %>
  <% else %>
    <% start_time_string = "#{@booking.start_time} pm" %>
  <% end %>
    <% time_end = @booking.start_time + @booking.duration %>
  <% if time_end > 12 %>
    <% end_time_string = "#{time_end - 12} pm" %>
  <% elsif time_end < 12 %>
    <% end_time_string = "#{time_end} am" %>
  <% else %>
    <% end_time_string = "#{time_end} pm" %>
  <% end %>

  <h1 class="text-center">Booking Details</h1>

  <div class="d-flex justify-content-between">
    <p>Date:</p>
    <p><%= @booking.date.strftime("%b %d") %></p>
  </div>

  <div class="d-flex justify-content-between">
    <p>Time:</p>
    <p><%= start_time_string %> - <%= end_time_string %></p>
  </div>

  <div class="d-flex justify-content-between">
    <p>Total credits:</p>
    <p>$<%= @booking.total_credits %> for <%= pluralize( @booking.duration, "hours" ) %></p>
  </div>
</div>

<div class="booking-info-card">
  <h1 class="text-center">Food</h1>
  <% @cafe.menu_items.each do |item| %>
    <% if item.category == "food" %>
    <div class="d-flex justify-content-between align-items-center">
      <p class="flex-grow-1"><%= item.name.capitalize %></p>
      <p>$<%= item.price %></p>
      <% if @booking.x_credits - item.price < 0 %>
        <p class="order-btn ml-3 inactive">Order</p>
      <% else %>
        <%= simple_form_for [@booking, @order] do |f| %>
          <%= f.hidden_field :menu_item, value: "#{item.name}", type: :hidden %>
          <%= f.button :submit, 'Order', class: "order-btn ml-3", data: { confirm: 'Are you sure you would like to make this order?' } %>
        <% end %>
      <% end %>
    </div>
    <% end%>
  <% end %>

  <h1 class="text-center">Drinks</h1>
  <% @cafe.menu_items.each do |item| %>
    <% if item.category == "drink" %>
    <div class="d-flex justify-content-between align-items-center">
      <p class="flex-grow-1"><%= item.name.capitalize %></p>
      <p>$<%= item.price %></p>
      <% if @booking.x_credits - item.price < 0 %>
        <p class="order-btn ml-3 inactive">Order</p>
      <% else %>
        <%= simple_form_for [@booking, @order] do |f| %>
          <%= f.hidden_field :menu_item, value: "#{item.name}", type: :hidden %>
          <%= f.button :submit, 'Order', class: "order-btn ml-3", data: { confirm: 'Are you sure you would like to make this order?' } %>
        <% end %>
      <% end %>
    </div>
    <% end%>
  <% end %>

  <h1 class="text-center mt-3">Orders Made</h1>

  <% Order.all.each do |order| %>
    <% if order.menu_item.cafe == @cafe %>
    <div class="d-flex justify-content-between">
      <p><%= order.menu_item.name.capitalize %></p>
      <p>$<%= order.menu_item.price %></p>
    </div>
    <% end %>
  <% end %>

  <div class="d-flex justify-content-between mt-2">
    <p><strong>Remaining credits:</strong></p>
    <p class="remaining-credits"><strong>$<%= @booking.x_credits %></strong></p>
  </div>
</div>
