
<% if current_user %>
<% if current_user.owner %>
  <div class="bottom-navbar active">
    <a href="/users/<%= current_user.id %>/cafes/dashboard">
      <div class="navbar-item align-middle" id="cafe-tab">
        <i class="fas fa-coffee"></i>
      </div>
    </a>
    <a href="/users/<%= current_user.id %>/bookings">
      <div class="navbar-item align-middle" id="bookings-tab">
        <i class="far fa-calendar-alt"></i>
      </div>
    </a>
    <% if current_user.cafes.empty? %>
      <a href="#">
    <% else %>
      <a href="/users/<%= current_user.id %>/cafes/<%= current_user.cafes.first.id %>/orders">
    <% end %>
      <div class="navbar-item align-middle" id="orders-tab">
        <i class="far fa-list-alt"></i>
      </div>
    </a>
    <a href="/users/<%= current_user.id %>/cafes/analytics">
      <div class="navbar-item align-middle" id="analytics-tab">
        <i class="fas fa-chart-bar"></i>
      </div>
    </a>
  </div>


<% else %>
  <% if @unshow_menu_bar == false %>
  <div class="bottom-navbar">
    <a href="/cafes">
      <div class="navbar-item align-middle active" id="search-tab">
        <i class="fas fa-search"></i>
      </div>
    </a>
    <a href="/users/<%= @user.id %>/bookings">
      <div class="navbar-item align-middle" id="bookings-tab">
        <i class="far fa-calendar-alt"></i>
      </div>
    </a>
    <a href="/users/<%= @user.id %>/bookmarks">
      <div class="navbar-item align-middle" id="bookmarks-tab">
        <i class="far fa-bookmark"></i>
      </div>
    </a>
    <a href="#">
      <div class="navbar-item align-middle" id="profile-tab">
        <i class="far fa-user-circle"></i>
      </div>
    </a>
  </div>
  <% end %>
  <% end %>
<% end %>

<% if @unshow_action_bar == false %>
  <% average_price_arr = [] %>
  <% @cafe.hourly_slots.each do |slot| %>
    <% average_price_arr << slot.price_per_hour %>
  <% end %>
  <% if average_price_arr.length == 0 %>
    <% average_price = 0 %>
    <div class="bottom-navbar justify-content-between p-3">
      <h6 class="align-self-center m-0"><strong>No Availabilities for this Cafe yet!</strong></h6>
      <%= link_to "Home", root_path, class: 'btn btn-primary align-self-center' %>
    </div>
  <% else %>
    <% average_price = average_price_arr.sum / average_price_arr.length %>
    <div class="bottom-navbar justify-content-between p-3">
    <h6 class="align-self-center m-0">Price: <strong>$<%= @cafe.hourly_slots.first.price_per_hour %></strong>/hour</h6>
    <%= link_to "View Availability", new_cafe_user_booking_path(Cafe.find(params[:id]), current_user), class: 'btn btn-primary align-self-center' %>
    </div>
  <% end %>
<% end %>

