<h3>Pending orders</h3>
<p class="text-center mt-3" id="no-pending-orders" style="display:none;">No pending orders</p>
<table class="undelivered-orders table mt-3 text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Menu item</th>
      <th scope="col">Mark as served</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking|%>
      <% booking.orders.select {|o| !o.delivered }.each do |order| %>
        <tr class="undelivered-order">
          <th scope="row"><%= order.booking.id %></th>
          <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
          <td><%= order.menu_item.name.capitalize %></td>
          <td>
            <%= link_to mark_as_delivered_path(@user, @cafe, order), method: "patch" do %>
              <i class="fas fa-check"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<h3 class="mt-4">Served orders</h3>
<p class="text-center mt-3" id="no-delivered-orders" style="display:none">No served orders</p>
<table class="delivered-orders table mt-3 text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Menu item</th>
      <th scope="col">Time delivered</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking|%>
      <% booking.orders.select {|o| o.delivered }.each do |order| %>
        <tr class="delivered-order">
          <th scope="row"><%= order.booking.id %></td>
          <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
          <td><%= order.menu_item.name.capitalize %></td>
          <td>
            <%= (order.updated_at + 28800).strftime("%k:%M") %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= javascript_pack_tag "orders" %>
