<h1>Welcome <%= current_user.first_name %>!</h1>
<h5>What do you want to do today?</h5>


<div class="d-flex flex-column align-items-center my-4">
  <h5>Mar 2020</h5>
  <%= line_chart @bookings.group_by_day(&:date).map{|k, v| [k, v.first.total_credits_cents / 100] }.to_h, xtitle: "Date", ytitle: "Revenue ($)" %>
</div>
<div class="analytics-data d-flex flex-column align-items-center">
  <div class="revenue-earned">
    <h5>Total Revenue Earned</h5>
    <h3>
      <% total_revenue = [] %>
      <% @bookings.each do |booking| %>
      <% total_revenue << booking.total_credits %>
      <% end %>
      <strong><%= "$#{total_revenue.sum}" %></strong>
    </h3>
  </div>

  <div class="average-revenue mt-3">
    <h5>Average Revenue Per Customer</h5>
    <h3>
      <% average_revenue = [] %>
      <% @bookings.each do |booking| %>
      <% average_revenue << booking.total_credits %>
      <% end %>
      <strong><%= "$#{average_revenue.sum / average_revenue.length }" %></strong>
    </h3>
  </div>

  <div class="coming-soon my-4 w-100 d-flex flex-column align-items-center">
    <h5>Top 3 Menu Items</h5>
    <% top_items = @item_hash.sort_by{|k,v| -v}.first(3) %>
    <table class="table mt-2">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Menu Item</th>
          <th scope="col">Total Revenue ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= top_items[0][0].capitalize %></td>
          <td><%= top_items[0][1] %></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><%= top_items[1][0].capitalize %></td>
          <td><%= top_items[1][1] %></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><%= top_items[2][0].capitalize %></td>
          <td><%= top_items[2][1] %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
