<h1>Welcome back, <%= current_user.first_name %>!</h1>
<p class="text-center">Check out how your cafes have been performing.</p>

<h4 class="mt-4"><strong>Insights on <%= link_to @cafe.name, cafe_path(@cafe) %></strong></h4>


<div class="booking-info-card">
  <div class="d-flex flex-column align-items-center my-1">
    <h5 class="mb-4"><strong>Last Month's Performance</strong></h5>
    <%= line_chart @bookings.group_by_day(&:date).map{|k, v| [k, v.first.total_credits_cents / 100] }.to_h, xtitle: "Date", ytitle: "Revenue ($)" %>
  </div>
</div>

<div class="booking-info-card">
  <div class="average-revenue my-1">
    <h5 class="mb-4"><strong>Key Metrics</strong></h5>
    <div class="d-flex justify-content-between align-items-center">
      <h6>Total Revenue Earned</h6>
      <h6 class="key-statistic">
        <% total_revenue = [] %>
        <% @bookings.each do |booking| %>
        <% total_revenue << booking.total_credits %>
        <% end %>
        <strong><%= "$#{total_revenue.sum}" %></strong>
      </h6>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <h6>Average Revenue Per Customer</h6>
      <h6 class="key-statistic">
        <% average_revenue = [] %>
        <% @bookings.each do |booking| %>
        <% average_revenue << booking.total_credits %>
        <% end %>
        <strong><%= "$#{average_revenue.sum / average_revenue.length }" %></strong>
      </h6>
    </div>
  </div>
</div>

<div class="booking-info-card">
  <div class="coming-soon my-1 w-100 d-flex flex-column align-items-center">
    <h5 class="mb-4"><strong>Top Selling Items</strong></h5>
    <% top_items = @item_hash.sort_by{|k,v| -v}.first(3) %>
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Menu Item</th>
          <th scope="col">Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= top_items[0][0].capitalize %></td>
          <td>$<%= top_items[0][1] %></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><%= top_items[1][0].capitalize %></td>
          <td>$<%= top_items[1][1] %></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><%= top_items[2][0].capitalize %></td>
          <td>$<%= top_items[2][1] %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
