
  <div class="cafes-div my-3">
    <h5>Your Cafes</h5>
    <% @cafes.each do |cafe| %>
      <div class="card-cafe mb-2">
        <% if cafe.tags.empty? %>
          <img src="https://source.unsplash.com/1600x900/?<%= cafe.category %>,<%= cafe.name %>" alt="Card image cap" />
        <% else %>
          <img src="https://source.unsplash.com/1600x900/?<%= cafe.tags.first.name %>, cafe" alt="Card image cap" />
        <% end %>



        <div class="card-cafe-infos align-items-start">
          <div class="cafe-name-description flex-grow-1">
            <h2 class="card-cafe-pricing"><%= link_to cafe.name, cafe_path(cafe) %></h2>
            <p class="card-cafe-pricing"><%= cafe.address %></p>
        <div class="edit-delete-btns">
          <%= link_to edit_user_cafe_path(@current_user, cafe) do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to user_cafe_path(@current_user, cafe), data: { confirm: 'Are you sure?' }, method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
          </div>

          <div>
            <%= link_to user_cafe_menu_items_path(@user, cafe) do %>
              <h4 class='dashboard-btn text-center mt-0'>Manage Menu</h4>
            <% end %>
            <%= link_to new_user_cafe_hourly_slot_path(current_user, cafe) do %>
              <h4 class='dashboard-btn text-center mb-0'>Set Availabilities</h4>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
    <%= link_to new_user_cafe_path(current_user) do %>
    <div class='add-cafe text-center mt-4'><i class="fas fa-plus"></i> Add a new Cafe </div>
    <% end %>
  </div>
