<h2>Edit your new Cafe:</h2>
<%= simple_form_for @cafe do |f| %>
  <%= f.input :name, placeholder: "Papa's Chicken" %>
  <%= f.input :description, placeholder: "Fusion Mexican Restaurant.." %>
  <%= f.input :neighbourhood, placeholder: "Orchard" %>
  <%= f.input :address, placeholder: "1 Orchard Rd, Singapore" %>
  <%= f.input :city, placeholder: "Singapore" %>
  <%= f.input :category, collection: ["Bar", "Restaurant", "Cafe"] %>
  <%= f.input :contact, placeholder: "98989898" %>
  <label for="amenities">Amenities</label>
  <% @amenities.nil? ? amenities = "" : amenities = @amenities.join(", ") %>
  <input class="w-100 mb-3" type="text" name="amenities" placeholder="Wifi, Free Coffee, Free Parking" value="<%= amenities %>">
  <label for="tags">Tags:</label>
  <select class="form-control select w-100 mb-5" name="tags[]" multiple>
    <% Tag.where(tag_category: "ambience").each do |tag| %>
      <option value="<%= tag.name %>"><%= tag.name.capitalize %></option>
    <% end %>
  </select>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
