<div id="main-index-section">

  <p id="expand-btn">Looking for a specific ambience?</p>
  <div class="tag-section hidden" >
    <% @tags.each do |tag| %>
    <button type="button" class="btn btn-outline-secondary m-1 tag-btn"><%= tag.name %></button>
    <% end %>
  </div>

  Sort by: <a class="sort-rating sort-btn mr-2">Rating</a><a class="sort-price sort-btn mr-2">Price</a>

  <div class="cafe-container">
    <div class="row">
      <% @cafes.each do |cafe| %>
      <div class="col-sm"></div>
      <div class="card-cafe"
        data-tags="<% cafe.cafe_tags.each do |cafetag| %>
          <%=cafetag.tag.name%>,
        <% end %>"
        data-rating="<% ratings = [] %>
        <% cafe.reviews.each do |review| %>
          <% ratings << review.rating %>
        <% end %>
        <%= (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size).round(1) %>"
        >
        <img src="https://source.unsplash.com/1600x900/?<%= cafe.category %>,<%= cafe.name %>" />
        <div class="card-cafe-infos">
          <div>
            <h2> <%= link_to cafe.name, cafe_path(cafe) %></h2>
            <p><%= cafe.category.capitalize %></p>
          </div>
          <h2 class="card-cafe-pricing">
            <% ratings = [] %>
            <% cafe.reviews.each do |review | %>
              <% ratings << review.rating %>
            <% end %>
            <%= (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size).round(1) %>
          </h2>
          <div class="ambience_tags d-flex">
            <% cafe.cafe_tags.each do |cafetag| %>
            <% if cafetag.tag.tag_category == "ambience" %>
            <div class="small-tag mr-2"><%= cafetag.tag.name %></div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'log out', destroy_user_session_path, method: :delete  %>
</div>

<%= javascript_pack_tag "tags" %>
<%#= javascript_pack_tag "scroll" %>
<%= javascript_pack_tag "sort" %>
