<div id="main-index-section">
  <p id="expand-btn"><i class="fas fa-caret-down"></i><i class="fas fa-caret-up hidden"></i></i>&nbsp;&nbsp;Looking for a specific ambience?&nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up hidden"></i></i></p>
  <div class="tag-section mb-6 hidden" >
    <% @tags.each do |tag| %>
    <button type="button" class="btn btn-outline-secondary m-1 tag-btn"><%= tag.name %></button>
    <% end %>
  </div>

  <div class="mt-4 mb-4">
  Sort by: <a class="sort-rating sort-btn mr-2">Rating</a><a class="sort-price sort-btn mr-2">Price</a>
  </div>

  <% if !params[:address].nil? %>
  <div>
    <h6 class="mb-0">Places near</h6>
    <h4 class="mt-0"><%= params[:address] %></h4>
  </div>
  <% end %>

  <div class="cafe-container">
      <div id="noresults-message" style="display:none;">
        <p>No results found for cafes with selected filters. Please remove a filter or <%= link_to 'search everywhere', cafes_path %></p>
      </div>
      <% @cafes.each do |cafe| %>
      <a class="div-link" href="<%= cafe_path(cafe) %>">
        <% unless cafe.hourly_slots.empty? %>
      <!-- average review rating -->
          <% ratings = [] %>
          <% cafe.reviews.each do |review| %>
          <% ratings << review.rating %>
          <% end %>
          <% avg_rating = (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size) %>
          <!-- average hourly price -->
          <% prices = [] %>
          <% cafe.hourly_slots.each do |slot| %>
          <% prices << slot.price_per_hour %>
          <% end %>
          <% avg_price = (prices.inject{ |sum, el| sum + el }.to_f / prices.size) %>
          <div class="card-cafe"
          data-tags="<% cafe.cafe_tags.each do |cafetag| %><%=cafetag.tag.name%>,<% end %>"
          data-rating="<%= avg_rating %>" data-price="<%= avg_price %>" style="display: block;">
            <div data-bookmarknumber ="<%= cafe.bookmarks.where(user: @user).first ? cafe.bookmarks.where(user: @user).first.id : "" %>" class="bookmark <%= @bookmarks.include?(cafe.id) ? "saved" : "unsaved" %>" data-id="<%= cafe.id %>" ><i class="<%= @bookmarks.include?(cafe.id) ? "fas" : "far" %> fa-bookmark"></i></div>
            <div class="cafe-price">
              $<%= avg_price.round(0) %> per hour
            </div>

            <img class="cafe-image" src="https://source.unsplash.com/1600x900/?<%= cafe.category %>,<%= cafe.name %>" />
            <div class="card-cafe-infos">
              <div>
                <h2 class='cafe-name'> <%= cafe.name %></h2>
                <p><%= cafe.neighbourhood %></p>
              </div>

              <div>
                <div>
                  <% avg_rating.round(0).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </div>
                <p class="text-right">(<%= pluralize( ratings.length, "reviews" ) %>)</p>
              </div>
            </div>

            <div class="ambience_tags d-flex">
              <% cafe.cafe_tags.each do |cafetag| %>
                <% if cafetag.tag.tag_category == "ambience" %>
                  <div class="small-tag mr-2"><%= cafetag.tag.name %></div>
                <% end %>
              <% end %>
            </div>
          </div>
          </a>
        <% end %>
      <% end %>
  </div>
</div>

<%#= javascript_pack_tag "scroll" %>
<%= javascript_pack_tag "tags" %>
<%= javascript_pack_tag "sort" %>
