<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Cafe Collective | Connecting Freelancers & Cafe Owners" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://cafe-collective.herokuapp.com" />
    <meta property="og:image" content="https://source.unsplash.com/1200x630/?cafe,coffee" />
    <meta property="og:description" content="Cafe Collective enables freelancers to enjoy working in the comforts of a cafe whilst not paying exorbitant prices for office space." />
    <meta property="og:site_name" content="Cafe Collective" />
    <title>Cafe Collective | Connecting Freelancers & Cafe Owners</title>
    <%= favicon_link_tag "favicon-32x32.png" %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

  <% if @unshow_banner == false %>
    <%= render 'shared/banner' %>
    <% else %>
  <%= render 'shared/top_navbar' %>
  <% end %>

    <div class="body-container">
      <%= yield %>
    </div>

  <%= render 'shared/bottom_navbar', user: @user %>

    <%= render 'shared/flashes' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
